/*nav*/
.index_nav{ background:#fff; padding:1.2rem 0 0.8rem 0;}
.index_nav ul{ margin:0px; padding:0px; list-style:none;}
.index_nav ul li{ width:25%; line-height:3rem; text-align:center; font-size: 1.1rem; float:left;}
.index_nav ul li img{ height:3rem;}
.index_nav ul li a{ display:block;}
