<div class="account_head account_top" style="display:none;">
  <dl>
    <dt><img src="assets/images/n_gender.png" id="userLogo" /></dt>
    <dd><span id="userName">--</span>
      <a href="/vip" class="blue" style="display:none;" id="buyVip">立即开通VIP</a>
      <span class="lv" style="display:none;"></span>
    </dd>
    <div class="clearfix"></div>
  </dl>
  <span class="head_set">
    <a href="/settings/user">
      <img src="assets/images/icons/21.png" />
    </a>
    <a href="/information" class="f-xx">
      <img src="assets/images/icons/22.png" />
      <i id="dot" style="display: none;"></i>
    </a>
  </span>
</div>
<!--未登陆-->
<ng-container *ngIf="!insession">
  <div class="account_nologin_sub account_top">
    <a routerLink="/login" class="sub02">登录</a>
  </div>
</ng-container>

<div class="my_money">
  <div class="my_card">
    <owl-carousel #owlElement [options]="accountOwlOptions" [carouselClasses]="['owl-theme', 'sliding']" [items]="accounts"> 
      <ng-container *ngFor="let account of accounts;let i = index">
        <div class="item {{account.class}}">
          <span class="f-eyes">
            <img src="assets/images/icons/eye_open_white.png" class="eye" *ngIf="!showAccount" (click)="switchShow()"/>
            <img class="eye" src="assets/images/icons/eye_close_white.png" *ngIf="showAccount" (click)="switchShow()" />
          </span>
          <a href="asset/esw" id="esw_account_asset">
            <h1><i class="icont">{{account.name}}</i>{{account.name}}账户总资产(元)</h1>
            <h2 class="isShow" *ngIf="showAccount"><span>{{account.balance}}</span></h2>
            <h3 class="isShow" *ngIf="showAccount">可用余额：<span>{{account.avialBalance}}</span></h3>
            <h2 class="isShow" *ngIf="!showAccount">***</h2>
            <h3 class="isShow" *ngIf="!showAccount">可用余额：***</h3>
          </a>
          <ul class="card_sub">
            <li class="bor"><a href="withdraw/{{account.type}}">提现</a></li>
            <li><a href="recharge/{{account.type}}">充值</a></li>
          </ul>
        </div>
      </ng-container>
    </owl-carousel>
  </div>
</div>
<!--礼金&积分&成长值-->
<div class="black5"></div>

<input #input value="Message">
<button (click)="popup.showAsComponent(input.value)">Show as component</button>
<button (click)="popup.showAsElement(input.value)">Show as element</button>

<popup-element message='hello world!' id='helloworld' closed="alert('close')"></popup-element>
<app-navbar [active]=3></app-navbar>
<router-outlet></router-outlet>