

/*存管开户提示*/
.esw_dialog_tips{ padding: 2rem 0 1rem 0; line-height: 3rem; font-size: 1.3rem; text-align: center;}
.esw_dialog_tips img{ width: 100%;}
.esw_dialog_tips .all_sub{ padding: 1.5rem 1.5rem 1rem 1.5rem;}
.esw_dialog_tips .all_sub .sub02{ font-size: 1.5rem; border-radius: 1.8rem; background: -webkit-linear-gradient(left, #fc9f0d , #fc790d);  background: -o-linear-gradient(left, #fc9f0d, #fc790d); background: -moz-linear-gradient(left, #fc9f0d, #fc790d); background: linear-gradient(left, #fc9f0d , #fc790d);}
